<form>
	<p>Fields marked with <span class="required">*</span> are required.</p>
	
	<label for="location" id="label-location">Your Location <span class="required">*</span></label>
	<select id="location" name="location" aria-invalid="false" aria-labelledby="label-location" required>
		<option value="No site chosen" selected="selected">Please choose</option>
		<option value="A.R. Kaufman">A.R. Kaufman</option>
		<option value="Abraham Erb">Abraham Erb</option>
		<option value="Alpine">Alpine</option>
		<option value="Avenue Road">Avenue Road</option>		
		<option value="Ayr">Ayr</option>		
		<option value="Baden">Baden</option>		
		<option value="Blair Road">Blair Road</option>
		<option value="Bluevale Collegiate">Bluevale Collegiate</option>		
		<option value="Breslau">Breslau</option>	
		<option value="Bridgeport">Bridgeport</option>		
		<option value="Brigadoon">Brigadoon</option>		
		<option value="Cameron Heights Collegiate">Cameron Heights Collegiate</option>		
		<option value="Cedar Creek">Cedar Creek</option>		
		<option value="Cedarbrae">Cedarbrae</option>		
		<option value="Centennial (Cambridge)">Centennial (Cambridge)</option>		
		<option value="Centennial (Waterloo)">Centennial (Waterloo)</option>		
		<option value="Central">Central</option>		
		<option value="Chalmers Street">Chalmers Street</option>		
		<option value="Chicopee Hills">Chicopee Hills</option>		
		<option value="Clemens Mill">Clemens Mill</option>		
		<option value="Conestogo">Conestogo</option>		
		<option value="Coronation">Coronation</option>		
		<option value="Country Hills">Country Hills</option>		
		<option value="Courtland Avenue">Courtland Avenue</option>		
		<option value="Crestview">Crestview</option>		
		<option value="Doon">Doon</option>		
		<option value="Driftwood Park">Driftwood Park</option>		
		<option value="Eastwood Collegiate">Eastwood Collegiate</option>		
		<option value="Edna Staebler">Edna Staebler</option>		
		<option value="Elgin Street">Elgin Street</option>		
		<option value="Elizabeth Ziegler">Elizabeth Ziegler</option>		
		<option value="Elmira District Secondary School">Elmira District Secondary School</option>		
		<option value="Empire">Empire</option>		
		<option value="Floradale">Floradale</option>
		<option value="Forest Glen">Forest Glen</option>
		<option value="Forest Heights Collegiate">Forest Heights Collegiate</option>
		<option value="Forest Hill">Forest Hill</option>
		<option value="Franklin">Franklin</option>	
		<option value="Galt Collegiate Institute &amp; Vocational School">Galt Collegiate Institute &amp; Vocational School</option>
		<option value="Glencairn">Glencairn</option>
		<option value="Glenview Park Secondary School">Glenview Park Secondary School</option>
		<option value="Grand River Collegiate">Grand River Collegiate</option>
		<option value="Grand View (Cambridge)">Grand View (Cambridge)</option>
		<option value="Grandview (New Hamburg)">Grandview (New Hamburg)</option>
		<option value="Groh">Groh</option>
		<option value="Hespeler">Hespeler</option>
		<option value="Highland">Highland</option>
		<option value="Hillcrest">Hillcrest</option>
		<option value="Howard Robertson">Howard Robertson</option>
		<option value="Huron Heights Secondary School">Huron Heights Secondary School</option>
		<option value="J.F. Carmichael">J.F. Carmichael</option>
		<option value="J.W. Gerth">J.W. Gerth</option>
		<option value="Jacob Hespeler Secondary School">Jacob Hespeler Secondary School</option>
		<option value="Janet Metcalfe">Janet Metcalfe</option>
		<option value="Jean Steckle ">Jean Steckle </option>
		<option value="John Darling">John Darling</option>
		<option value="John Mahood">John Mahood</option>
		<option value="Keatsway">Keatsway</option>
		<option value="King Edward">King Edward</option>
		<option value="Kitchener-Waterloo Collegiate and Vocational School">Kitchener-Waterloo Collegiate and Vocational School</option>
		<option value="Lackner Woods">Lackner Woods</option>		
		<option value="Laurelwood">Laurelwood</option>
		<option value="Laurentian Senior">Laurentian Senior</option>
		<option value="Lester B. Pearson">Lester B. Pearson</option>
		<option value="Lexington">Lexington</option>
		<option value="Lincoln Heights">Lincoln Heights</option>
		<option value="Linwood District">Linwood District</option>
		<option value="Macgregor Senior">Macgregor Senior</option>
		<option value="Mackenzie King">Mackenzie King</option>
		<option value="Manchester">Manchester</option>		
		<option value="Margaret Avenue">Margaret Avenue</option>
		<option value="Mary Johnston">Mary Johnston</option>
		<option value="Meadowlane">Meadowlane</option>
		<option value="Millen Woods">Millen Woods</option>
		<option value="Moffat Creek">Moffat Creek</option>
		<option value="N.A. Maceachern">N.A. Maceachern</option>
		<option value="New Dundee">New Dundee</option>
		<option value="Northlake Woods">Northlake Woods</option>
		<option value="Park Manor">Park Manor</option>
		<option value="Parkway">Parkway</option>
		<option value="Pioneer Park">Pioneer Park</option>
		<option value="Preston ">Preston PS</option>
		<option value="Preston High">Preston High</option>
		<option value="Prueter">Prueter</option>
		<option value="Queen Elizabeth">Queen Elizabeth</option>
		<option value="Queensmount Senior">Queensmount Senior</option>
		<option value="Riverside">Riverside</option>
		<option value="Rockway">Rockway</option>
		<option value="Rosemount">Rosemount</option>
		<option value="Ryerson">Ryerson</option>
		<option value="Saginaw">Saginaw</option>
		<option value="Sandhills">Sandhills</option>
		<option value="Sandowne">Sandowne</option>
		<option value="Sheppard">Sheppard</option>
		<option value="Silverheights">Silverheights</option>
		<option value="Sir Adam Beck">Sir Adam Beck</option>
		<option value="Sir John A. Macdonald">Sir John A. Macdonald</option>
		<option value="Smithson">Smithson</option>
		<option value="Southridge">Southridge</option>
		<option value="Southwood Secondary School">Southwood Secondary School</option>
		<option value="St. Andrew’s Senior">St. Andrew’s Senior</option>
		<option value="St. Jacobs">St. Jacobs</option>
		<option value="Stanley Park Senior">Stanley Park Senior</option>
		<option value="Stewart Avenue">Stewart Avenue</option>
		<option value="Suddaby">Suddaby</option>
		<option value="Sunnyside Senior">Sunnyside Senior</option>
		<option value="Tait Street">Tait Street</option>
		<option value="Trillium">Trillium</option>
		<option value="Vista Hills">Vista Hills</option>
		<option value="W.T. Townshend">W.T. Townshend</option>
		<option value="Waterloo Collegiate Institute">Waterloo Collegiate Institute</option>
		<option value="Waterloo-Oxford District Secondary School">Waterloo-Oxford District Secondary School</option>
		<option value="Wellesley">Wellesley</option>
		<option value="Westheights">Westheights</option>
		<option value="Westmount">Westmount</option>
		<option value="Westvale">Westvale</option>
		<option value="William G. Davis">William G. Davis</option>
		<option value="Williamsburg">Williamsburg</option>
		<option value="Wilson Avenue">Wilson Avenue</option>
		<option value="Winston Churchill">Winston Churchill</option>
		<option value="Woodland Park">Woodland Park</option>
		<option value="Education Centre">Education Centre</option>
		<option value="Uturn/Choices Cambridge">Uturn/Choices Cambridge</option>
		<option value="Uturn/Choices Waterloo">Uturn/Choices Waterloo</option>
		<option value="Testing Only">Testing Only</option>
	</select>


	<fieldset>
		<legend>Administrator</legend>
		<label for="student-3-firstname" id="label-student-3-firstname">Administrator firstname</label>
		<input type="text" value="" id="student-3-firstname" name="student-3-firstname" aria-invalid="false" aria-labelledby="label-student-3-firstname">
		<label for="student-3-lastname" id="label-student-3-lastname">Administrator lastname</label>
		<input type="text" value="" id="student-3-lastname" name="student-3-lastname" aria-invalid="false" aria-labelledby="label-student-3-lastname">
		<label for="student-3-i-e-liasion" id="label-student-3-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="student-3-i-e-liasion" name="student-3-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-student-3-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Teacher</legend>
		<label for="teacher-firstname" id="label-teacher-firstname">Teacher firstname</label>
		<input type="text" value="" id="teacher-firstname" name="teacher-firstname" aria-invalid="false" aria-labelledby="label-teacher-firstname">
		<label for="teacher-lastname" id="label-teacher-lastname">Teacher lastname</label>
		<input type="text" value="" id="teacher-lastname" name="teacher-lastname" aria-invalid="false" aria-labelledby="label-teacher-lastname">
		<label for="teacher-i-e-liasion" id="label-teacher-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="teacher-i-e-liasion" name="teacher-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-teacher-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Paraprofessional (CYW, EA, etc)</legend>
		<label for="paraprofessional-firstname" id="label-paraprofessional-firstname">Paraprofessional (CYW, EA, etc) firstname</label>
		<input type="text" value="" id="paraprofessional-firstname" name="paraprofessional-firstname" aria-invalid="false" aria-labelledby="label-paraprofessional-firstname">
		<label for="paraprofessional-lastname" id="label-paraprofessional-lastname">Paraprofessional (CYW, EA, etc) lastname</label>
		<input type="text" value="" id="paraprofessional-lastname" name="paraprofessional-lastname" aria-invalid="false" aria-labelledby="label-paraprofessional-lastname">
		<label for="paraprofessional-i-e-liasion" id="label-paraprofessional-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="paraprofessional-i-e-liasion" name="paraprofessional-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-paraprofessional-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Parent</legend>
		<label for="parent-firstname" id="label-parent-firstname">Administrator firstname</label>
		<input type="text" value="" id="parent-firstname" name="parent-firstname" aria-invalid="false" aria-labelledby="label-parent-firstname">
		<label for="parent-lastname" id="label-parent-lastname">Administrator lastname</label>
		<input type="text" value="" id="parent-lastname" name="parent-lastname" aria-invalid="false" aria-labelledby="label-parent-lastname">
		<label for="parent-i-e-liasion" id="label-parent-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="parent-i-e-liasion" name="parent-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-parent-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Community Member</legend>
		<label for="community-member-firstname" id="label-community-member-firstname">Community Member firstname</label>
		<input type="text" value="" id="community-member-firstname" name="community-member-firstname" aria-invalid="false" aria-labelledby="label-community-member-firstname">
		<label for="community-member-lastname" id="label-community-member-lastname">Community Member lastname</label>
		<input type="text" value="" id="community-member-lastname" name="community-member-lastname" aria-invalid="false" aria-labelledby="label-community-member-lastname">
		<label for="community-member-i-e-liasion" id="label-community-member-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="community-member-i-e-liasion" name="community-member-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-community-member-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Student 1</legend>
		<label for="student-3-firstname" id="label-student-3-firstname">Student 1 firstname</label>
		<input type="text" value="" id="student-3-firstname" name="student-3-firstname" aria-invalid="false" aria-labelledby="label-student-3-firstname">
		<label for="student-3-lastname" id="label-student-3-lastname">Student 1 lastname</label>
		<input type="text" value="" id="student-3-lastname" name="student-3-lastname" aria-invalid="false" aria-labelledby="label-student-3-lastname">
		<label for="student-3-i-e-liasion" id="label-student-3-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="student-3-i-e-liasion" name="student-3-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-student-3-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Student 2</legend>
		<label for="student-2-firstname" id="label-student-2-firstname">Student 2 firstname</label>
		<input type="text" value="" id="student-2-firstname" name="student-2-firstname" aria-invalid="false" aria-labelledby="label-student-2-firstname">
		<label for="student-2-lastname" id="label-student-2-lastname">Student 2 lastname</label>
		<input type="text" value="" id="student-2-lastname" name="student-2-lastname" aria-invalid="false" aria-labelledby="label-student-2-lastname">
		<label for="student-2-i-e-liasion" id="label-student-2-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="student-2-i-e-liasion" name="student-2-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-student-2-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Optional member and role 1</legend>
		<label for="optional-3-firstname" id="label-optional-3-firstname">Optional member and role firstname</label>
		<input type="text" value="" id="optional-3-firstname" name="optional-3-firstname" aria-invalid="false" aria-labelledby="label-optional-3-firstname">
		<label for="optional-3-lastname" id="label-optional-3-lastname">Optional member and role lastname</label>
		<input type="text" value="" id="optional-3-lastname" name="optional-3-lastname" aria-invalid="false" aria-labelledby="label-optional-3-lastname">
		<label for="optional-3-i-e-liasion" id="label-optional-3-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="optional-3-i-e-liasion" name="optional-3-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-optional-3-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Optional member and role 2</legend>
		<label for="optional-2-firstname" id="label-optional-2-firstname">Optional member and role firstname</label>
		<input type="text" value="" id="optional-2-firstname" name="optional-2-firstname" aria-invalid="false" aria-labelledby="label-optional-2-firstname">
		<label for="optional-2-lastname" id="label-optional-2-lastname">Optional member and role lastname</label>
		<input type="text" value="" id="optional-2-lastname" name="optional-2-lastname" aria-invalid="false" aria-labelledby="label-optional-2-lastname">
		<label for="optional-2-i-e-liasion" id="label-optional-2-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="optional-2-i-e-liasion" name="optional-2-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-optional-2-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Optional member and role 3</legend>
		<label for="optional-3-firstname" id="label-optional-3-firstname">Optional member and role firstname</label>
		<input type="text" value="" id="optional-3-firstname" name="optional-3-firstname" aria-invalid="false" aria-labelledby="label-optional-3-firstname">
		<label for="optional-3-lastname" id="label-optional-3-lastname">Optional member and role lastname</label>
		<input type="text" value="" id="optional-3-lastname" name="optional-3-lastname" aria-invalid="false" aria-labelledby="label-optional-3-lastname">
		<label for="optional-3-i-e-liasion" id="label-optional-3-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="optional-3-i-e-liasion" name="optional-3-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-optional-3-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Optional member and role 4</legend>
		<label for="optional-4-firstname" id="label-optional-4-firstname">Optional member and role firstname</label>
		<input type="text" value="" id="optional-4-firstname" name="optional-4-firstname" aria-invalid="false" aria-labelledby="label-optional-4-firstname">
		<label for="optional-4-lastname" id="label-optional-4-lastname">Optional member and role lastname</label>
		<input type="text" value="" id="optional-4-lastname" name="optional-4-lastname" aria-invalid="false" aria-labelledby="label-optional-4-lastname">
		<label for="optional-4-i-e-liasion" id="label-optional-4-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="optional-4-i-e-liasion" name="optional-4-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-optional-4-i-e-liasion">
	</fieldset>

	<fieldset>
		<legend>Optional member and role 5</legend>
		<label for="optional-5-firstname" id="label-optional-5-firstname">Optional member and role firstname</label>
		<input type="text" value="" id="optional-5-firstname" name="optional-5-firstname" aria-invalid="false" aria-labelledby="label-optional-5-firstname">
		<label for="optional-5-lastname" id="label-optional-5-lastname">Optional member and role lastname</label>
		<input type="text" value="" id="optional-5-lastname" name="optional-5-lastname" aria-invalid="false" aria-labelledby="label-optional-5-lastname">
		<label for="optional-5-i-e-liasion" id="label-optional-5-i-e-liasion">Indigenous &amp; Equity Liaison</label>
		<input id="optional-5-i-e-liasion" name="optional-5-i-e-liasion" type="checkbox" value="1" aria-labelledby="label-optional-5-i-e-liasion">
	</fieldset>

</form>