<form>
	<p>Fields marked with <span class="required">*</span> are required.</p>
	
	<label for="location" id="label-location">Your Location <span class="required">*</span></label>
	<select id="location" name="location" aria-invalid="false" aria-labelledby="label-location" required>
		<option value="No site chosen" selected="selected">Please choose</option>
		<option value="A.R. Kaufman">A.R. Kaufman</option>
		<option value="Abraham Erb">Abraham Erb</option>
		<option value="Alpine">Alpine</option>
		<option value="Avenue Road">Avenue Road</option>		
		<option value="Ayr">Ayr</option>		
		<option value="Baden">Baden</option>		
		<option value="Blair Road">Blair Road</option>
		<option value="Bluevale Collegiate">Bluevale Collegiate</option>		
		<option value="Breslau">Breslau</option>	
		<option value="Bridgeport">Bridgeport</option>		
		<option value="Brigadoon">Brigadoon</option>		
		<option value="Cameron Heights Collegiate">Cameron Heights Collegiate</option>		
		<option value="Cedar Creek">Cedar Creek</option>		
		<option value="Cedarbrae">Cedarbrae</option>		
		<option value="Centennial (Cambridge)">Centennial (Cambridge)</option>		
		<option value="Centennial (Waterloo)">Centennial (Waterloo)</option>		
		<option value="Central">Central</option>		
		<option value="Chalmers Street">Chalmers Street</option>		
		<option value="Chicopee Hills">Chicopee Hills</option>		
		<option value="Clemens Mill">Clemens Mill</option>		
		<option value="Conestogo">Conestogo</option>		
		<option value="Coronation">Coronation</option>		
		<option value="Country Hills">Country Hills</option>		
		<option value="Courtland Avenue">Courtland Avenue</option>		
		<option value="Crestview">Crestview</option>		
		<option value="Doon">Doon</option>		
		<option value="Driftwood Park">Driftwood Park</option>		
		<option value="Eastwood Collegiate">Eastwood Collegiate</option>		
		<option value="Edna Staebler">Edna Staebler</option>		
		<option value="Elgin Street">Elgin Street</option>		
		<option value="Elizabeth Ziegler">Elizabeth Ziegler</option>		
		<option value="Elmira District Secondary School">Elmira District Secondary School</option>		
		<option value="Empire">Empire</option>		
		<option value="Floradale">Floradale</option>
		<option value="Forest Glen">Forest Glen</option>
		<option value="Forest Heights Collegiate">Forest Heights Collegiate</option>
		<option value="Forest Hill">Forest Hill</option>
		<option value="Franklin">Franklin</option>	
		<option value="Galt Collegiate Institute &amp; Vocational School">Galt Collegiate Institute &amp; Vocational School</option>
		<option value="Glencairn">Glencairn</option>
		<option value="Glenview Park Secondary School">Glenview Park Secondary School</option>
		<option value="Grand River Collegiate">Grand River Collegiate</option>
		<option value="Grand View (Cambridge)">Grand View (Cambridge)</option>
		<option value="Grandview (New Hamburg)">Grandview (New Hamburg)</option>
		<option value="Groh">Groh</option>
		<option value="Hespeler">Hespeler</option>
		<option value="Highland">Highland</option>
		<option value="Hillcrest">Hillcrest</option>
		<option value="Howard Robertson">Howard Robertson</option>
		<option value="Huron Heights Secondary School">Huron Heights Secondary School</option>
		<option value="J.F. Carmichael">J.F. Carmichael</option>
		<option value="J.W. Gerth">J.W. Gerth</option>
		<option value="Jacob Hespeler Secondary School">Jacob Hespeler Secondary School</option>
		<option value="Janet Metcalfe">Janet Metcalfe</option>
		<option value="Jean Steckle ">Jean Steckle </option>
		<option value="John Darling">John Darling</option>
		<option value="John Mahood">John Mahood</option>
		<option value="Keatsway">Keatsway</option>
		<option value="King Edward">King Edward</option>
		<option value="Kitchener-Waterloo Collegiate and Vocational School">Kitchener-Waterloo Collegiate and Vocational School</option>
		<option value="Lackner Woods">Lackner Woods</option>		
		<option value="Laurelwood">Laurelwood</option>
		<option value="Laurentian Senior">Laurentian Senior</option>
		<option value="Lester B. Pearson">Lester B. Pearson</option>
		<option value="Lexington">Lexington</option>
		<option value="Lincoln Heights">Lincoln Heights</option>
		<option value="Linwood District">Linwood District</option>
		<option value="Macgregor Senior">Macgregor Senior</option>
		<option value="Mackenzie King">Mackenzie King</option>
		<option value="Manchester">Manchester</option>		
		<option value="Margaret Avenue">Margaret Avenue</option>
		<option value="Mary Johnston">Mary Johnston</option>
		<option value="Meadowlane">Meadowlane</option>
		<option value="Millen Woods">Millen Woods</option>
		<option value="Moffat Creek">Moffat Creek</option>
		<option value="N.A. Maceachern">N.A. Maceachern</option>
		<option value="New Dundee">New Dundee</option>
		<option value="Northlake Woods">Northlake Woods</option>
		<option value="Park Manor">Park Manor</option>
		<option value="Parkway">Parkway</option>
		<option value="Pioneer Park">Pioneer Park</option>
		<option value="Preston ">Preston PS</option>
		<option value="Preston High">Preston High</option>
		<option value="Prueter">Prueter</option>
		<option value="Queen Elizabeth">Queen Elizabeth</option>
		<option value="Queensmount Senior">Queensmount Senior</option>
		<option value="Riverside">Riverside</option>
		<option value="Rockway">Rockway</option>
		<option value="Rosemount">Rosemount</option>
		<option value="Ryerson">Ryerson</option>
		<option value="Saginaw">Saginaw</option>
		<option value="Sandhills">Sandhills</option>
		<option value="Sandowne">Sandowne</option>
		<option value="Sheppard">Sheppard</option>
		<option value="Silverheights">Silverheights</option>
		<option value="Sir Adam Beck">Sir Adam Beck</option>
		<option value="Sir John A. Macdonald">Sir John A. Macdonald</option>
		<option value="Smithson">Smithson</option>
		<option value="Southridge">Southridge</option>
		<option value="Southwood Secondary School">Southwood Secondary School</option>
		<option value="St. Andrew’s Senior">St. Andrew’s Senior</option>
		<option value="St. Jacobs">St. Jacobs</option>
		<option value="Stanley Park Senior">Stanley Park Senior</option>
		<option value="Stewart Avenue">Stewart Avenue</option>
		<option value="Suddaby">Suddaby</option>
		<option value="Sunnyside Senior">Sunnyside Senior</option>
		<option value="Tait Street">Tait Street</option>
		<option value="Trillium">Trillium</option>
		<option value="Vista Hills">Vista Hills</option>
		<option value="W.T. Townshend">W.T. Townshend</option>
		<option value="Waterloo Collegiate Institute">Waterloo Collegiate Institute</option>
		<option value="Waterloo-Oxford District Secondary School">Waterloo-Oxford District Secondary School</option>
		<option value="Wellesley">Wellesley</option>
		<option value="Westheights">Westheights</option>
		<option value="Westmount">Westmount</option>
		<option value="Westvale">Westvale</option>
		<option value="William G. Davis">William G. Davis</option>
		<option value="Williamsburg">Williamsburg</option>
		<option value="Wilson Avenue">Wilson Avenue</option>
		<option value="Winston Churchill">Winston Churchill</option>
		<option value="Woodland Park">Woodland Park</option>
		<option value="Education Centre">Education Centre</option>
		<option value="Uturn/Choices Cambridge">Uturn/Choices Cambridge</option>
		<option value="Uturn/Choices Waterloo">Uturn/Choices Waterloo</option>
		<option value="Testing Only">Testing Only</option>
	</select>
	<fieldset>
		<legend>Principal</legend>
		<label for="principal-firstname" id="label-principal-firstname">Principal firstname</label>
		<input type="text" value="" id="principal-firstname" name="principal-firstname" aria-invalid="false" aria-labelledby="label-principal-firstname">
		<label for="principal-lastname" id="label-principal-lastname">Principal lastname</label>
		<input type="text" value="" id="principal-lastname" name="principal-lastname" aria-invalid="false" aria-labelledby="label-principal-lastname">
		<label for="principal-affiliation" id="label-principal-affiliation">Affiliation (Principal) </label></div>
		<select id="principal-affiliation" name="principal-affiliation" aria-invalid="false" aria-labelledby="label-principal-affiliation">	
			<option value="CAMA">CAMA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="CUPE">CUPE</option>
			<option value="SMACA">SMACA</option>
			<option value="ETFO">ETFO</option>
			<option value="WREA">WREA</option>
			<option value="EAA">EAA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="ESS">ESS</option>
			<option value="SSPA" selected="selected">SSPA</option>
			<option value="SSVPA">SSVPA</option>
			<option value="OPC">OPC</option>
			<option value="Management">Management</option>
		</select>
		<label for="principal-h-s-contact" id="label-principal-h-s-contact">H&amp;S Contact? (Principal) </label>
		<input id="principal-h-s-contact" name="principal-h-s-contact" type="checkbox" value="1" aria-labelledby="label-principal-h-s-contact">
	</fieldset>

	<fieldset>
		<legend>Custodian</legend>
		<label for="custodian-firstname" id="label-custodian-firstname">Custodian firstname</label>
		<input type="text" value="" id="custodian-firstname" name="custodian-firstname" aria-invalid="false" aria-describedby="error-708" aria-labelledby="label-custodian-firstname">
		<label for="custodian-lastname" id="label-custodian-lastname">Custodian lastname</label>
		<input type="text" value="" id="custodian-lastname" name="custodian-lastname" aria-invalid="false" aria-describedby="error-1108" aria-labelledby="label-custodian-lastname">
		<label for="custodian-affiliation" id="label-custodian-affiliation">Affiliation (Custodian)</label>
		<select id="custodian-affiliation" name="custodian-affiliation" aria-invalid="false" aria-describedby="error-1100" aria-labelledby="label-custodian-affiliation">
			<option value="CAMA">CAMA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="CUPE" selected="selected">CUPE</option>
			<option value="SMACA">SMACA</option>
			<option value="ETFO">ETFO</option>
			<option value="WREA">WREA</option>
			<option value="EAA">EAA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="ESS">ESS</option>
			<option value="SSPA">SSPA</option>
			<option value="SSVPA">SSVPA</option>
			<option value="OPC">OPC</option>
			<option value="Management">Management</option>
		</select>
		<label for="custodian-h-s-contact" id="label-custodian-h-s-contact">H&amp;S Contact? (Custodian)</label>
		<input id="custodian-h-s-contact" name="custodian-h-s-contact" aria-describedby="error-710" type="checkbox" value="1" aria-labelledby="label-custodian-h-s-contact">
	</fieldset>

	<fieldset>
		<legend>Staff Member 1</legend>
		<label for="staff-member-1-firstname" id="label-staff-member-1-firstname">Staff Member 1 firstname</label>
		<input type="text" value="" id="staff-member-1-firstname" name="staff-member-1-firstname" aria-invalid="false" aria-describedby="error-708" aria-labelledby="label-staff-member-1-firstname">
		<label for="staff-member-1-lastname" id="label-staff-member-1-lastname">Staff Member 1 lastname</label>
		<input type="text" value="" id="staff-member-1-lastname" name="staff-member-1-lastname" aria-invalid="false" aria-describedby="error-1108" aria-labelledby="label-staff-member-1-lastname">
		<label for="staff-member-1-affiliation" id="label-staff-member-1-affiliation">Affiliation (Staff Member 1)</label>
		<select id="staff-member-1-affiliation" name="staff-member-1-affiliation" aria-invalid="false" aria-describedby="error-1100" aria-labelledby="label-staff-member-1-affiliation">
			<option value="CAMA">CAMA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="CUPE" selected="selected">CUPE</option>
			<option value="SMACA">SMACA</option>
			<option value="ETFO">ETFO</option>
			<option value="WREA">WREA</option>
			<option value="EAA">EAA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="ESS">ESS</option>
			<option value="SSPA">SSPA</option>
			<option value="SSVPA">SSVPA</option>
			<option value="OPC">OPC</option>
			<option value="Management">Management</option>
		</select>
		<label for="staff-member-1-h-s-contact" id="label-staff-member-1-h-s-contact">H&amp;S Contact? (Staff Member 1)</label>
		<input id="staff-member-1-h-s-contact" name="staff-member-1-h-s-contact" aria-describedby="error-710" type="checkbox" value="1" aria-labelledby="label-staff-member-1-h-s-contact">
	</fieldset>


	<fieldset>
		<legend>Staff Member 2</legend>
		<label for="staff-member-2-firstname" id="label-staff-member-2-firstname">Staff Member 2 firstname</label>
		<input type="text" value="" id="staff-member-2-firstname" name="staff-member-2-firstname" aria-invalid="false" aria-describedby="error-708" aria-labelledby="label-staff-member-2-firstname">
		<label for="staff-member-2-lastname" id="label-staff-member-2-lastname">Staff Member 2 lastname</label>
		<input type="text" value="" id="staff-member-2-lastname" name="staff-member-2-lastname" aria-invalid="false" aria-describedby="error-1108" aria-labelledby="label-staff-member-2-lastname">
		<label for="staff-member-2-affiliation" id="label-staff-member-2-affiliation">Affiliation (Staff Member 2)</label>
		<select id="staff-member-2-affiliation" name="staff-member-2-affiliation" aria-invalid="false" aria-describedby="error-1100" aria-labelledby="label-staff-member-2-affiliation">
			<option value="CAMA">CAMA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="CUPE" selected="selected">CUPE</option>
			<option value="SMACA">SMACA</option>
			<option value="ETFO">ETFO</option>
			<option value="WREA">WREA</option>
			<option value="EAA">EAA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="ESS">ESS</option>
			<option value="SSPA">SSPA</option>
			<option value="SSVPA">SSVPA</option>
			<option value="OPC">OPC</option>
			<option value="Management">Management</option>
		</select>
		<label for="staff-member-2-h-s-contact" id="label-staff-member-2-h-s-contact">H&amp;S Contact? (Staff Member 2)</label>
		<input id="staff-member-2-h-s-contact" name="staff-member-2-h-s-contact" aria-describedby="error-710" type="checkbox" value="1" aria-labelledby="label-staff-member-2-h-s-contact">
	</fieldset>

	<fieldset>
		<legend>Staff Member 4</legend>
		<label for="staff-member-3-firstname" id="label-staff-member-3-firstname">Staff Member 4 firstname</label>
		<input type="text" value="" id="staff-member-3-firstname" name="staff-member-3-firstname" aria-invalid="false" aria-describedby="error-708" aria-labelledby="label-staff-member-3-firstname">
		<label for="staff-member-3-lastname" id="label-staff-member-3-lastname">Staff Member 4 lastname</label>
		<input type="text" value="" id="staff-member-3-lastname" name="staff-member-3-lastname" aria-invalid="false" aria-describedby="error-1108" aria-labelledby="label-staff-member-3-lastname">
		<label for="staff-member-3-affiliation" id="label-staff-member-3-affiliation">Affiliation (Staff Member 4)</label>
		<select id="staff-member-3-affiliation" name="staff-member-3-affiliation" aria-invalid="false" aria-describedby="error-1100" aria-labelledby="label-staff-member-3-affiliation">
			<option value="CAMA">CAMA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="CUPE" selected="selected">CUPE</option>
			<option value="SMACA">SMACA</option>
			<option value="ETFO">ETFO</option>
			<option value="WREA">WREA</option>
			<option value="EAA">EAA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="ESS">ESS</option>
			<option value="SSPA">SSPA</option>
			<option value="SSVPA">SSVPA</option>
			<option value="OPC">OPC</option>
			<option value="Management">Management</option>
		</select>
		<label for="staff-member-3-h-s-contact" id="label-staff-member-3-h-s-contact">H&amp;S Contact? (Staff Member 4)</label>
		<input id="staff-member-3-h-s-contact" name="staff-member-3-h-s-contact" aria-describedby="error-710" type="checkbox" value="1" aria-labelledby="label-staff-member-3-h-s-contact">
	</fieldset>

	<fieldset>
		<legend>Staff Member 4</legend>
		<label for="staff-member-4-firstname" id="label-staff-member-4-firstname">Staff Member 4 firstname</label>
		<input type="text" value="" id="staff-member-4-firstname" name="staff-member-4-firstname" aria-invalid="false" aria-describedby="error-708" aria-labelledby="label-staff-member-4-firstname">
		<label for="staff-member-4-lastname" id="label-staff-member-4-lastname">Staff Member 4 lastname</label>
		<input type="text" value="" id="staff-member-4-lastname" name="staff-member-4-lastname" aria-invalid="false" aria-describedby="error-1108" aria-labelledby="label-staff-member-4-lastname">
		<label for="staff-member-4-affiliation" id="label-staff-member-4-affiliation">Affiliation (Staff Member 4)</label>
		<select id="staff-member-4-affiliation" name="staff-member-4-affiliation" aria-invalid="false" aria-describedby="error-1100" aria-labelledby="label-staff-member-4-affiliation">
			<option value="CAMA">CAMA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="CUPE" selected="selected">CUPE</option>
			<option value="SMACA">SMACA</option>
			<option value="ETFO">ETFO</option>
			<option value="WREA">WREA</option>
			<option value="EAA">EAA</option>
			<option value="OSSTF">OSSTF</option>
			<option value="ESS">ESS</option>
			<option value="SSPA">SSPA</option>
			<option value="SSVPA">SSVPA</option>
			<option value="OPC">OPC</option>
			<option value="Management">Management</option>
		</select>
		<label for="staff-member-4-h-s-contact" id="label-staff-member-4-h-s-contact">H&amp;S Contact? (Staff Member 4)</label>
		<input id="staff-member-4-h-s-contact" name="staff-member-4-h-s-contact" aria-describedby="error-710" type="checkbox" value="1" aria-labelledby="label-staff-member-4-h-s-contact">
	</fieldset>
</form>