<form>
	<p>Fields marked with <span class="required">*</span> are required.</p>
	
	<label for="location" id="label-location">Your Location <span class="required">*</span></label>
	<select id="location" name="location" aria-invalid="false" aria-labelledby="label-location" required>
		<option value="No site chosen" selected="selected">Please choose</option>
		<option value="A.R. Kaufman">A.R. Kaufman</option>
		<option value="Abraham Erb">Abraham Erb</option>
		<option value="Alpine">Alpine</option>
		<option value="Avenue Road">Avenue Road</option>		
		<option value="Ayr">Ayr</option>		
		<option value="Baden">Baden</option>		
		<option value="Blair Road">Blair Road</option>
		<option value="Bluevale Collegiate">Bluevale Collegiate</option>		
		<option value="Breslau">Breslau</option>	
		<option value="Bridgeport">Bridgeport</option>		
		<option value="Brigadoon">Brigadoon</option>		
		<option value="Cameron Heights Collegiate">Cameron Heights Collegiate</option>		
		<option value="Cedar Creek">Cedar Creek</option>		
		<option value="Cedarbrae">Cedarbrae</option>		
		<option value="Centennial (Cambridge)">Centennial (Cambridge)</option>		
		<option value="Centennial (Waterloo)">Centennial (Waterloo)</option>		
		<option value="Central">Central</option>		
		<option value="Chalmers Street">Chalmers Street</option>		
		<option value="Chicopee Hills">Chicopee Hills</option>		
		<option value="Clemens Mill">Clemens Mill</option>		
		<option value="Conestogo">Conestogo</option>		
		<option value="Coronation">Coronation</option>		
		<option value="Country Hills">Country Hills</option>		
		<option value="Courtland Avenue">Courtland Avenue</option>		
		<option value="Crestview">Crestview</option>		
		<option value="Doon">Doon</option>		
		<option value="Driftwood Park">Driftwood Park</option>		
		<option value="Eastwood Collegiate">Eastwood Collegiate</option>		
		<option value="Edna Staebler">Edna Staebler</option>		
		<option value="Elgin Street">Elgin Street</option>		
		<option value="Elizabeth Ziegler">Elizabeth Ziegler</option>		
		<option value="Elmira District Secondary School">Elmira District Secondary School</option>		
		<option value="Empire">Empire</option>		
		<option value="Floradale">Floradale</option>
		<option value="Forest Glen">Forest Glen</option>
		<option value="Forest Heights Collegiate">Forest Heights Collegiate</option>
		<option value="Forest Hill">Forest Hill</option>
		<option value="Franklin">Franklin</option>	
		<option value="Galt Collegiate Institute &amp; Vocational School">Galt Collegiate Institute &amp; Vocational School</option>
		<option value="Glencairn">Glencairn</option>
		<option value="Glenview Park Secondary School">Glenview Park Secondary School</option>
		<option value="Grand River Collegiate">Grand River Collegiate</option>
		<option value="Grand View (Cambridge)">Grand View (Cambridge)</option>
		<option value="Grandview (New Hamburg)">Grandview (New Hamburg)</option>
		<option value="Groh">Groh</option>
		<option value="Hespeler">Hespeler</option>
		<option value="Highland">Highland</option>
		<option value="Hillcrest">Hillcrest</option>
		<option value="Howard Robertson">Howard Robertson</option>
		<option value="Huron Heights Secondary School">Huron Heights Secondary School</option>
		<option value="J.F. Carmichael">J.F. Carmichael</option>
		<option value="J.W. Gerth">J.W. Gerth</option>
		<option value="Jacob Hespeler Secondary School">Jacob Hespeler Secondary School</option>
		<option value="Janet Metcalfe">Janet Metcalfe</option>
		<option value="Jean Steckle ">Jean Steckle </option>
		<option value="John Darling">John Darling</option>
		<option value="John Mahood">John Mahood</option>
		<option value="Keatsway">Keatsway</option>
		<option value="King Edward">King Edward</option>
		<option value="Kitchener-Waterloo Collegiate and Vocational School">Kitchener-Waterloo Collegiate and Vocational School</option>
		<option value="Lackner Woods">Lackner Woods</option>		
		<option value="Laurelwood">Laurelwood</option>
		<option value="Laurentian Senior">Laurentian Senior</option>
		<option value="Lester B. Pearson">Lester B. Pearson</option>
		<option value="Lexington">Lexington</option>
		<option value="Lincoln Heights">Lincoln Heights</option>
		<option value="Linwood District">Linwood District</option>
		<option value="Macgregor Senior">Macgregor Senior</option>
		<option value="Mackenzie King">Mackenzie King</option>
		<option value="Manchester">Manchester</option>		
		<option value="Margaret Avenue">Margaret Avenue</option>
		<option value="Mary Johnston">Mary Johnston</option>
		<option value="Meadowlane">Meadowlane</option>
		<option value="Millen Woods">Millen Woods</option>
		<option value="Moffat Creek">Moffat Creek</option>
		<option value="N.A. Maceachern">N.A. Maceachern</option>
		<option value="New Dundee">New Dundee</option>
		<option value="Northlake Woods">Northlake Woods</option>
		<option value="Park Manor">Park Manor</option>
		<option value="Parkway">Parkway</option>
		<option value="Pioneer Park">Pioneer Park</option>
		<option value="Preston ">Preston PS</option>
		<option value="Preston High">Preston High</option>
		<option value="Prueter">Prueter</option>
		<option value="Queen Elizabeth">Queen Elizabeth</option>
		<option value="Queensmount Senior">Queensmount Senior</option>
		<option value="Riverside">Riverside</option>
		<option value="Rockway">Rockway</option>
		<option value="Rosemount">Rosemount</option>
		<option value="Ryerson">Ryerson</option>
		<option value="Saginaw">Saginaw</option>
		<option value="Sandhills">Sandhills</option>
		<option value="Sandowne">Sandowne</option>
		<option value="Sheppard">Sheppard</option>
		<option value="Silverheights">Silverheights</option>
		<option value="Sir Adam Beck">Sir Adam Beck</option>
		<option value="Sir John A. Macdonald">Sir John A. Macdonald</option>
		<option value="Smithson">Smithson</option>
		<option value="Southridge">Southridge</option>
		<option value="Southwood Secondary School">Southwood Secondary School</option>
		<option value="St. Andrew’s Senior">St. Andrew’s Senior</option>
		<option value="St. Jacobs">St. Jacobs</option>
		<option value="Stanley Park Senior">Stanley Park Senior</option>
		<option value="Stewart Avenue">Stewart Avenue</option>
		<option value="Suddaby">Suddaby</option>
		<option value="Sunnyside Senior">Sunnyside Senior</option>
		<option value="Tait Street">Tait Street</option>
		<option value="Trillium">Trillium</option>
		<option value="Vista Hills">Vista Hills</option>
		<option value="W.T. Townshend">W.T. Townshend</option>
		<option value="Waterloo Collegiate Institute">Waterloo Collegiate Institute</option>
		<option value="Waterloo-Oxford District Secondary School">Waterloo-Oxford District Secondary School</option>
		<option value="Wellesley">Wellesley</option>
		<option value="Westheights">Westheights</option>
		<option value="Westmount">Westmount</option>
		<option value="Westvale">Westvale</option>
		<option value="William G. Davis">William G. Davis</option>
		<option value="Williamsburg">Williamsburg</option>
		<option value="Wilson Avenue">Wilson Avenue</option>
		<option value="Winston Churchill">Winston Churchill</option>
		<option value="Woodland Park">Woodland Park</option>
		<option value="Education Centre">Education Centre</option>
		<option value="Uturn/Choices Cambridge">Uturn/Choices Cambridge</option>
		<option value="Uturn/Choices Waterloo">Uturn/Choices Waterloo</option>
		<option value="Testing Only">Testing Only</option>
	</select>


	<fieldset>
		<legend>Fire Drill 1</legend>
		<label for="fire-drill-1-date" id="label-fire-drill-1-date">Fire Drill 1 date</label>
		<input id="fire-drill-1-date" name="fire-drill-1-date" aria-invalid="false" aria-labelledby="label-fire-drill-1-date" type="date" value="">
		<label for="fire-drill-1-time" id="label-fire-drill-1-time">Fire Drill 1 time</label>
		<input id="ffire-drill-1-time" name="fire-drill-1-time" aria-invalid="false" aria-labelledby="label-fire-drill-1-time" type="time" value="">
	</fieldset>


	<fieldset>
		<legend>Fire Drill 2</legend>
		<label for="fire-drill-2-date" id="label-fire-drill-2-date">Fire Drill 2 date</label>
		<input id="fire-drill-2-date" name="fire-drill-2-date" aria-invalid="false" aria-labelledby="label-fire-drill-2-date" type="date" value="">
		<label for="fire-drill-2-time" id="label-fire-drill-2-time">Fire Drill 2 time</label>
		<input id="ffire-drill-2-time" name="fire-drill-2-time" aria-invalid="false" aria-labelledby="label-fire-drill-2-time" type="time" value="">
	</fieldset>


	<fieldset>
		<legend>Fire Drill 3</legend>
		<label for="fire-drill-3-date" id="label-fire-drill-3-date">Fire Drill 3 date</label>
		<input id="fire-drill-3-date" name="fire-drill-3-date" aria-invalid="false" aria-labelledby="label-fire-drill-3-date" type="date" value="">
		<label for="fire-drill-3-time" id="label-fire-drill-3-time">Fire Drill 3 time</label>
		<input id="ffire-drill-3-time" name="fire-drill-3-time" aria-invalid="false" aria-labelledby="label-fire-drill-3-time" type="time" value="">
	</fieldset>


	<fieldset>
		<legend>Fire Drill 4</legend>
		<label for="fire-drill-4-date" id="label-fire-drill-4-date">Fire Drill 4 date</label>
		<input id="fire-drill-4-date" name="fire-drill-4-date" aria-invalid="false" aria-labelledby="label-fire-drill-4-date" type="date" value="">
		<label for="fire-drill-4-time" id="label-fire-drill-4-time">Fire Drill 4 time</label>
		<input id="ffire-drill-4-time" name="fire-drill-4-time" aria-invalid="false" aria-labelledby="label-fire-drill-4-time" type="time" value="">
	</fieldset>


	<fieldset>
		<legend>Fire Drill 5</legend>
		<label for="fire-drill-5-date" id="label-fire-drill-5-date">Fire Drill 5 date</label>
		<input id="fire-drill-5-date" name="fire-drill-5-date" aria-invalid="false" aria-labelledby="label-fire-drill-5-date" type="date" value="">
		<label for="fire-drill-5-time" id="label-fire-drill-5-time">Fire Drill 5 time</label>
		<input id="ffire-drill-5-time" name="fire-drill-5-time" aria-invalid="false" aria-labelledby="label-fire-drill-5-time" type="time" value="">
	</fieldset>


	<fieldset>
		<legend>Fire/Bomb Drill</legend>
		<label for="fire-bomb-drill-date" id="label-fire-bomb-drill-date">Fire/Bomb Drill date</label>
		<input id="fire-bomb-drill-date" name="fire-bomb-drill-date" aria-invalid="false" aria-labelledby="label-fire-bomb-drill-date" type="date" value="">
		<label for="fire-bomb-drill-time" id="label-fire-bomb-drill-time">Fire/Bomb Drill time</label>
		<input id="fire-bomb-drill-time" name="fire-bomb-drill-time" aria-invalid="false" aria-labelledby="label-fire-bomb-drill-time" type="time" value="">
	</fieldset>

</form>